# OS metadata
.DS_Store
Thumbs.db

# IDE & Editor directories
.idea/
.vscode/
*.swp
*.swo

# Node
node_modules/
npm-debug.log*

# Python
__pycache__/
*.pyc

# Local scratch / test files
.system_generated/
